<div class="tensp" style="width: 100%">
    <h3>{{trong.productname}}</h3>
</div>
<div class="row" style="padding-top: 20px; padding-bottom:50px">
    <div class="col-3">
        <img src="../../assets/trong.jpg" class="img-fluid" alt="Responsive image" style="border-radius: 5px">
    </div>
    <div class="col-9">

        <p>
            <u style="font-size: 18px; font-weight:bold; margin: 10px 1px 10px 1px">ID</u>: {{trong.id}} <br>
            <u style="font-size: 18px; font-weight:bold; padding: 10px 1px">ListPrice</u>: {{trong.price}} <br>
            <u style="font-size: 18px; font-weight:bold; padding: 10px 1px">Description</u>: {{trong.description}} <br>
            <u style="font-size: 18px; font-weight:bold; padding: 10px 1px">Newfeature</u>:
            <br>- {{trong.text1}} <br>- {{trong.text2}} <br>- {{trong.text3}} <br>- {{trong.text4}}
        </p>




    </div>
</div>